@charset "UTF-8";

form.color-settings {
  display: flex;
  padding: var( --tile-parts-padding );

  input.string {
    font-size: x-large;
    width: var( --input-string-width );
  }

  input.range {
    font-size: x-large;
  }
}